
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 52px;
    border-radius: 10px;
    border: 1px solid rgb(2, 2, 5);  

    
    position: absolute;
    width: 1016px;
    height: 349px;
    left: 200px;
    top: 121px;
    background: linear-gradient(0deg, rgba(48, 9, 23, 0.2), rgba(48, 9, 23, 0.2)), linear-gradient(0deg, rgba(3, 4, 35, 0.2), rgba(3, 4, 35, 0.2)), #16244B;
}

label{
    color: white;

   
}

.boton{
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 12px;
    font-size: 0.8rem;  
    letter-spacing: 2px;  
    cursor: pointer;
}

  .boton {
    background: rgba(0, 212, 255, 0.9);
    color: rgba(255,255,255,0.95);
    filter: drop-shadow(0);
    font-weight: bold;
    transition: all .3s ease; 
  }
  
  .boton:hover{
    transform: scale(1.125);  
    border-color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
    transition: all .3s ease;    
  }


